version: '3.0'

services:     
  botsharp:
    image: botsharpdocker/botsharp-core:latest
    build: 
      context: ../
      dockerfile: dockerfiles/WebStarter.Dockerfile
    ports:
      - 5500:5500
    env_file:
      - ./.env
    volumes:
      - ./appsettings.json:/app/appsettings.json
    networks: 
      - botsharp-network
